<ion-content padding>
    <img src="../assets/imgs/logo_1.png" id="logo-login" class="animated tada">
    <form [formGroup]="myForm" (ngSubmit)="login()" class="form-login ">
        <div class="input-item form-username">
            <ion-input type="number" placeholder="NUMERO DE CELULAR" formControlName="username" clearInput></ion-input>
            <div *ngIf="formErrors.username" color="danger" class="form__error">{{ formErrors.username }}</div>
        </div>
        <div class="input-item form-password">
            <ion-input type="password" placeholder="CONTRASEÑA" formControlName="password" clearInput></ion-input>
            <div *ngIf="formErrors.password" color="danger" class="form__error">{{ formErrors.password }}</div>
        </div>

        <ion-grid class="animated fadeInDown">
            <ion-row>
                <ion-col>
                    <!--
                    <ion-item class="item-remember">
                    <ion-label>Recordar</ion-label>
                    <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
                    </ion-item>
                    -->
                </ion-col>
                <ion-col class="right-text">
                    <a href="#" (tap)="forgot()" class="link-forgot">Olvidé mi contraseña</a>
                </ion-col>
            </ion-row>
        </ion-grid>
        <button class="animated fadeInUp" ion-button round outline block color="secondary" type="submit">Ingresa</button>
        <p class="animated fadeInUp signup-here">¿Eres nuevo? <a href="#" (tap)="signin()">Registrate aqui</a></p>
    </form>
</ion-content>