<ion-header transparent no-border>

    <ion-navbar>
        <ion-title>ESTRENA CONTRASEÑA</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="myForm" (ngSubmit)="changePassword()" class="form-signin">
        <div>
            <div>
                <p class="text-intro">Te enviamos un codigo de verﬁcación para restablecer tu contraseña al correo que registraste como <span class="phone">wret****@gmail.com</span></p>
                <div>
                    <label>Código de veriﬁcación</label>
                    <input type="text" formControlName="code">
                    <div *ngIf="formErrors.code" color="danger" class="form__error">{{ formErrors.code }}</div>
                </div>
                <div>
                    <label>Nueva contraseña</label>
                    <input type="password" formControlName="password">
                    <div *ngIf="formErrors.password" color="danger" class="form__error">{{ formErrors.password }}</div>
                </div>
                <div>
                    <label>Conﬁrmar nueva contraseña</label>
                    <input type="password" formControlName="confirmPassword">
                    <div *ngIf="myForm.hasError('notSame')" color="danger" class="form__error">Las contraseñas no coinciden</div>
                </div>
                <div>
                    <button ion-button round outline block color="secondary" type="submit" class="animated fadeIn">CONTINUAR</button>
                </div>
            </div>
        </div>
    </form>
</ion-content>