.button-gradient-secondary {
    color: #fff;
    background: #fbbb00;
    background: -moz-linear-gradient(left, #fbbb00 0%, #fcc621 50%, #fcee21 100%);
    background: -webkit-linear-gradient(left, #fbbb00 0%, #fcc621 50%, #fcee21 100%);
    background: linear-gradient(to right, #fbbb00 0%, #fcc621 50%, #fcee21 100%);
}

button[outline] {
    color: #fff;
}

button[block] {
    max-width: 66%;
    margin: 12px auto;
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

ion-header[transparent] .toolbar-background {
    background: transparent;
}

.form__error {
    color: #ff0000;
    font-size: 12px;
}